# Add to .gitignore
.DS_Store
.DS_Store?
.env
venv/
home_improvement_recommendations_gemma.txt
home_improvement_recommendations_phi3.txt
home_improvement_recommendations_mistral-nemo.txt
home_improvement_recommendations_llama3.2.txt
txtCoverter.py